<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash</title>
</head>
<body>
    <form action="/cash" method="post">
        <input type="number" name="brand" id="">
        <button type="submit">View Cash In Hand</button>
    </form>
</body>
</html>