<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body>
    <script>
        setTimeout(function () {
                alert("Cannot be Added to the DB");
                window.location.href = "stock"
            }, 1000)
    </script>
</body>
</html>