<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get sales</title>
</head>
<body>
    <form action="/retrievesales" method="post">
        <h2>Select Sales</h2>
        <label for="f_date">From</label>
        <input type="date" name="f_date" required>

        <label for="l_date">To</label>
        <input type="date" name="l_date" required>

        <button type="submit">Search</button>
    </form>
</body>
</html>