<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>successful update</title>
</head>
<body>
    
    <script>
        setTimeout(function(){
            alert("stock added");
            window.location.href = "updatestock"
        },1000)
    </script>
</body>
</html>