<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
</head>
<body>
    <h1>Retail Section</h1>
    <form action="/sell" method="POST">
        <select name="brand">
            <option value="4 Cousins 750ml">4 Cousins 750ml</option>
            <option value="All Seasons 250ml">All Seasons 250ml</option>
            <option value="Black % White 350ml">Black % White 350ml</option>
            <option value="Black Label 750ml">Black Label 750ml</option>
            <option value="Blue Ice 250ml">Blue Ice 250ml</option>
            <option value="Bond 7 350ml">Bond 7 350ml</option>
            <option value="Caprice 1l">Caprice 1l</option>
            <option value="Chrome 250ml">Chrome 250ml</option>
            <option value="Chrome 750ml">Chrome 750ml</option>
            <option value="County 250ml">County 250ml</option>
            <option value="County 750ml">County 750ml</option>
            <option value="Dallas 250ml">Dallas 250ml</option>
            <option value="Delmonte 1L">Delmonte 1L</option>
            <option value="Faxe">Faxe</option>
            <option value="General Meakins 250ml">General Meakins 250ml</option>
            <option value="Gilbeys Gin 250ml">Gilbeys Gin 250ml</option>
            <option value="Gilbeys Gin 350ml">Gilbeys Gin 350ml</option>
            <option value="Gilbeys Gin 750ml">Gilbeys Gin 750ml</option>
            <option value="Guarana">Guarana</option>
            <option value="Guiness">Guiness</option>
            <option value="Hunters Choice 250ml">Hunters Choice 250ml</option>
            <option value="Hunters Choice 350ml">Hunters Choice 350ml</option>
            <option value="Hunters Choice 750ml">Hunters Choice 750ml</option>
            <option value="Kane Extra 250ml">Kane Extra 250ml</option>
            <option value="Kane Extra 750ml">Kane Extra 750ml</option>
            <option value="Kenya Cane 250ml">Kenya Cane 250ml</option>
            <option value="Kenya Cane 750ml">Kenya Cane 750ml</option>
            <option value="Kenya King 250ml">Kenya King 250ml</option>
            <option value="Kibao 250ml">Kibao 250ml</option>
            <option value="Kibao 350ml">Kibao 350ml</option>
            <option value="Lemonade Lime">Lemonade Lime</option>
            <option value="Magic">Magic</option>
            <option value="Napoleon 250ml">Napoleon 250ml</option>
            <option value="Orijin 250ml">Orijin 250ml</option>
            <option value="People">People</option>
            <option value="Pilsner">Pilsner</option>
            <option value="Piston 250ml">Piston 250ml</option>
            <option value="Red Label 750ml">Red Label 750ml</option>
            <option value="RedBull 250ml">RedBull 250ml</option>
            <option value="Richot 250ml">Richot 250ml</option>
            <option value="Richot 350ml">Richot 350ml</option>
            <option value="Smirnoff 250ml">Smirnoff 250ml</option>
            <option value="Smirnoff 350ml">Smirnoff 350ml</option>
            <option value="Smirnoff 750ml">Smirnoff 750ml</option>
            <option value="Snapp">Snapp</option>
            <option value="Soda 350ml">Soda 350ml</option>
            <option value="Trigger 250ml">Trigger 250ml</option>
            <option value="Tripple Ace 250ml">Tripple Ace 250ml</option>
            <option value="Tusker Cider">Tusker Cider</option>
            <option value="Tusker Lager">Tusker Lager</option>
            <option value="Tusker Lite">Tusker Lite</option>
            <option value="Tusker Malt">Tusker Malt</option>
            <option value="V&A">V&A</option>
            <option value="Viceroy 250ml">Viceroy 250ml</option>
            <option value="Water 500ml">Water 500ml</option>
            <option value="White Cap">White Cap</option>
        </select>
        <input type="text" name="pieces" placeholder="Pieces">
        <button type="submit">Save Sale</button>
    </form>
</body>
</html>