<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inserted</title>
</head>

<body>
    
    <script type="text/javascript">
        function ready() {
            alert("Cannot make sale!!!!")
            window.location.href = "sales"
        }
        setTimeout(ready, 2000)

    </script>
</body>

</html>